.file-item {
    width: 150px;
    height: 130px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: small;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-right: 20px;
    cursor: pointer;
}

#Menu1Content li {
    margin-bottom: 20px;
}

#Menu2Content li {
    margin-bottom: 15px;
}

pre {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

#Logs {
    margin-left: 10px;
    font-size: small;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.ui-panel {
    display: flex;
    flex-direction: column;
}

.ui-panel-body {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.uk-input {
    min-width: 60px;
    background-color: rgb(35, 41, 49);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    border-top-color: rgb(57, 62, 70);
    border-right-color: rgb(57, 62, 70);
    border-bottom-color: rgb(57, 62, 70);
    border-left-color: rgb(57, 62, 70);
}

#ScriptHeaderResources {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(57, 62, 70);
    background-color: rgb(35, 41, 49);
    display: flex;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(238, 238, 238);
}

#ScriptHeaderProgress {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(57, 62, 70);
    background-color: rgb(35, 41, 49);
    display: flex;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(238, 238, 238);
}

.table-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding-top: 0px;
    padding-bottom: 10px;
}

.table-cell {
    min-height: 25px;
    flex-grow: 1;
    flex-basis: 100%;
}

#ResourcesTabsHeader {
    display: flex;
    margin-bottom: 0px;
}

#TabResources {
    margin-left: 3px;
}

#ResourcesTabsContent {
    margin-top: 0px;
}

#GlobalTabsHeader {
    margin-bottom: 0px;
    margin-top: 0px;
}

#ResourcesTabsContent {
    padding-top: 0px;
}

[uk-alert] {
    font-size: small;
}

.resource-label {
    margin-bottom: 5px;
    color: rgb(238, 238, 238);
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.cell {
    min-height: 25px;
    flex-grow: 1;
    flex-basis: 100%;
}

.tab-not-valid {
    border-left-color: red;
    border-left-style: solid;
    border-left-width: 0px;
}

.uk-tab-left>*,
.uk-tab-right>* {
    margin-bottom: 5px;
}

.tab-not-visible {
    display: none;
}

.resource-not-visible {
    display: none;
}

#irdbm {
    justify-content: flex-start;
    width: 100%;
    line-height: 30px;
}

#iasnv {
    font-weight: bold;
}

#ia4na {
    display: flex;
}

#iiazc {
    justify-content: flex-start;
}

#igul2 {
    min-width: 40px;
    padding-top: 0px;
    padding-right: 14px;
    padding-bottom: 0px;
    padding-left: 14px;
}

#idrre {
    display: flex;
}

#itds5 {
    justify-content: flex-start;
}

#ivg03 {
    min-width: 40px;
    padding-top: 0px;
    padding-right: 14px;
    padding-bottom: 0px;
    padding-left: 14px;
}

#icvxv {
    display: flex;
}

#i8nz3 {
    justify-content: flex-start;
}

#ihd8r {
    min-width: 40px;
    padding-top: 0px;
    padding-right: 14px;
    padding-bottom: 0px;
    padding-left: 14px;
}

#izhz7 {
    display: flex;
}

#ik82r {
    justify-content: flex-start;
}

#i6vdf {
    min-width: 40px;
    padding-top: 0px;
    padding-right: 14px;
    padding-bottom: 0px;
    padding-left: 14px;
}

#iiwi9 {
    display: flex;
}

#i3f9w {
    justify-content: flex-start;
}

#iqrv3 {
    min-width: 40px;
    padding-top: 0px;
    padding-right: 14px;
    padding-bottom: 0px;
    padding-left: 14px;
}

#imrla {
    display: flex;
}

#ibktn {
    justify-content: flex-start;
}

#igbpb {
    min-width: 40px;
    padding-top: 0px;
    padding-right: 14px;
    padding-bottom: 0px;
    padding-left: 14px;
}

#iu8gyg {
    display: flex;
}

#itqg7j {
    justify-content: flex-start;
}

#i535xf {
    min-width: 40px;
    padding-top: 0px;
    padding-right: 14px;
    padding-bottom: 0px;
    padding-left: 14px;
}

#iidx1d {
    display: flex;
}

#i14y1l {
    justify-content: flex-start;
}

#ibtd69 {
    min-width: 40px;
    padding-top: 0px;
    padding-right: 14px;
    padding-bottom: 0px;
    padding-left: 14px;
}

#i0lbn3 {
    display: flex;
}

#iq4bec {
    justify-content: flex-start;
}

#i0t5qt {
    min-width: 40px;
    padding-top: 0px;
    padding-right: 14px;
    padding-bottom: 0px;
    padding-left: 14px;
}

#ik25kz {
    display: flex;
}

#ihchz6 {
    justify-content: flex-start;
}

#iwp2tb {
    min-width: 40px;
    padding-top: 0px;
    padding-right: 14px;
    padding-bottom: 0px;
    padding-left: 14px;
}

#irh1vg {
    display: flex;
}

#ipj0mt {
    justify-content: flex-start;
}

#i9i1ak {
    min-width: 40px;
    padding-top: 0px;
    padding-right: 14px;
    padding-bottom: 0px;
    padding-left: 14px;
}

#ir8bj7 {
    display: flex;
}

#in5ovo {
    justify-content: flex-start;
}

#ij1exf {
    min-width: 40px;
    padding-top: 0px;
    padding-right: 14px;
    padding-bottom: 0px;
    padding-left: 14px;
}

#i5skzk {
    display: flex;
}

#iexs3l {
    justify-content: flex-start;
}

#ixb5nq {
    min-width: 40px;
    padding-top: 0px;
    padding-right: 14px;
    padding-bottom: 0px;
    padding-left: 14px;
}

#iwj30v {
    display: flex;
}

#ikb37g {
    justify-content: flex-start;
}

#irhtr9 {
    min-width: 40px;
    padding-top: 0px;
    padding-right: 14px;
    padding-bottom: 0px;
    padding-left: 14px;
}

#idsshv {
    display: flex;
}

#in7ebj {
    justify-content: flex-start;
}

#ia5dy8 {
    min-width: 40px;
    padding-top: 0px;
    padding-right: 14px;
    padding-bottom: 0px;
    padding-left: 14px;
}

#it4xoh {
    display: flex;
}

#i83n6j {
    justify-content: flex-start;
}

#i9c7cn {
    min-width: 40px;
    padding-top: 0px;
    padding-right: 14px;
    padding-bottom: 0px;
    padding-left: 14px;
}

#i3ucjk {
    display: flex;
}

#i7ld97 {
    justify-content: flex-start;
}

#ic9lvy {
    min-width: 40px;
    padding-top: 0px;
    padding-right: 14px;
    padding-bottom: 0px;
    padding-left: 14px;
}

#ico0ey {
    display: flex;
}

#ij5xto {
    justify-content: flex-start;
}

#ief79a {
    min-width: 40px;
    padding-top: 0px;
    padding-right: 14px;
    padding-bottom: 0px;
    padding-left: 14px;
}

#ivhn6w {
    display: flex;
}

#inhszp {
    justify-content: flex-start;
}

#iil2sj {
    min-width: 40px;
    padding-top: 0px;
    padding-right: 14px;
    padding-bottom: 0px;
    padding-left: 14px;
}

#imfxyo {
    display: flex;
}

#ij6tzl {
    justify-content: flex-start;
}

#iorlqh {
    min-width: 40px;
    padding-top: 0px;
    padding-right: 14px;
    padding-bottom: 0px;
    padding-left: 14px;
}

#ib5ilx {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(57, 62, 70);
}

#iem4kv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#i8k2t7 {
    justify-content: flex-start;
    width: 100%;
    line-height: 30px;
}

#ilbqyo {
    font-weight: bold;
}

#inveyw {
    font-size: small;
    background-color: rgb(35, 41, 49);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}

#iaibof {
    padding-top: 15px;
    color: rgb(238, 238, 238);
}

#ik3rmk {
    margin-bottom: 10px;
    color: rgb(238, 238, 238);
}

#StopScript {
    margin-right: 10px;
}

#ijm0hv {
    font-size: small;
}

#i7pg42 {
    padding-top: 15px;
}

#i29mq8 {
    margin-bottom: 10px;
}

#CardBrowsers {
    font-size: small;
    background-color: rgb(35, 41, 49);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    color: rgb(238, 238, 238);
}

#ipqb43 {
    padding-top: 15px;
}

#iv4lwm {
    margin-bottom: 10px;
    color: rgb(238, 238, 238);
}

#InspectBrowsers {
    margin-right: 10px;
    background-color: rgb(35, 41, 49);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    color: rgb(238, 238, 238);
}

#CardProgress {
    font-size: small;
    background-color: rgb(35, 41, 49);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    color: rgb(238, 238, 238);
}

#i3fw5x {
    padding-top: 15px;
}

#ib5q6a {
    margin-bottom: 10px;
    color: rgb(238, 238, 238);
}

#ShowScriptReport {
    margin-right: 10px;
}

#iquco5 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
    height: 200px;
    max-width: 500px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    background-color: rgb(35, 41, 49);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}

#ijivdy {
    margin-top: 30px;
    margin-bottom: 20px;
    color: rgb(238, 238, 238) !important;
}

.uk-modal-dialog>div:nth-child(2)>div:nth-child(1) {
    border-bottom-color: rgb(57, 62, 70) !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
}

.uk-alert{
    background:#232931 !important;
}

body,
html {
    background-color: rgb(35, 41, 49) !important;
    background-position-x: 0% !important;
    background-position-y: 0% !important;
    background-repeat: repeat !important;
    background-attachment: scroll !important;
    background-image: none !important;
    background-size: auto !important;
    background-origin: padding-box !important;
    background-clip: border-box !important;
}

.uk-tab>.uk-active>a {
    color: rgb(238, 238, 238) !important;
    border-top-color: rgb(78, 204, 163) !important;
    border-right-color: rgb(78, 204, 163) !important;
    border-bottom-color: rgb(78, 204, 163) !important;
    border-left-color: rgb(78, 204, 163) !important;
}

#ResourcesTabsHeader {
    border-right-color: red !important;
}

.uk-select {
    background-color: rgb(35, 41, 49) !important;
    background-position-x: 0% !important;
    background-position-y: 0% !important;
    background-repeat: repeat !important;
    background-attachment: scroll !important;
    background-image: none !important;
    background-size: auto !important;
    background-origin: padding-box !important;
    background-clip: border-box !important;
    color: rgb(238, 238, 238) !important;
}

.uk-input:focus {
    background-color: rgb(35, 41, 49) !important;
    background-position-x: 0% !important;
    background-position-y: 0% !important;
    background-repeat: repeat !important;
    background-attachment: scroll !important;
    background-image: none !important;
    background-size: auto !important;
    background-origin: padding-box !important;
    background-clip: border-box !important;
    border-top-color: rgb(78, 204, 163) !important;
    border-right-color: rgb(78, 204, 163) !important;
    border-bottom-color: rgb(78, 204, 163) !important;
    border-left-color: rgb(78, 204, 163) !important;
    color: rgb(238, 238, 238) !important;
}

.uk-select:focus {
    background-color: rgb(35, 41, 49) !important;
    background-position-x: 0% !important;
    background-position-y: 0% !important;
    background-repeat: repeat !important;
    background-attachment: scroll !important;
    background-image: none !important;
    background-size: auto !important;
    background-origin: padding-box !important;
    background-clip: border-box !important;
    border-top-color: rgb(78, 204, 163) !important;
    border-right-color: rgb(78, 204, 163) !important;
    border-bottom-color: rgb(78, 204, 163) !important;
    border-left-color: rgb(78, 204, 163) !important;
    color: rgb(238, 238, 238) !important;
}

.uk-input {
    border-top-color: rgb(57, 62, 70) !important;
    border-right-color: rgb(57, 62, 70) !important;
    border-bottom-color: rgb(57, 62, 70) !important;
    border-left-color: rgb(57, 62, 70) !important;
    color: rgb(238, 238, 238) !important;
}

.uk-select {
    border-top-color: rgb(57, 62, 70) !important;
    border-right-color: rgb(57, 62, 70) !important;
    border-bottom-color: rgb(57, 62, 70) !important;
    border-left-color: rgb(57, 62, 70) !important;
    color: rgb(238, 238, 238) !important;
}

.uk-tab-left::before {
    top: 0px !important;
    bottom: 0px !important;
    left: auto !important;
    right: 0px !important;
    border-left-color: rgb(57, 62, 70) !important;
    border-left-style: solid !important;
    border-left-width: 1px !important;
    border-bottom-color: currentcolor !important;
    border-bottom-style: none !important;
    border-bottom-width: medium !important;
}

.uk-button-default {
    color: rgb(238, 238, 238) !important;
}

div.uk-width-1-2\@m: nth-child(5)>div:nth-child(1) {
    background-color: rgb(35, 41, 49) !important;
    background-position-x: 0% !important;
    background-position-y: 0% !important;
    background-repeat: repeat !important;
    background-attachment: scroll !important;
    background-image: none !important;
    background-size: auto !important;
    background-origin: padding-box !important;
    background-clip: border-box !important;
    color: rgb(238, 238, 238);
}

.uk-modal-dialog>div:nth-child(2)>div:nth-child(1)>h3:nth-child(1) {
    color: rgb(238, 238, 238);
}

.uk-card-default .uk-card-footer {
    border-top-color: rgb(57, 62, 70) !important;
}

.uk-card-default{
    background: #232931 !important;
}

.uk-heading-line> ::before,
.uk-heading-line> ::after {
    border-bottom-color: rgb(57, 62, 70) !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
}

.uk-button-primary {
    background-color: rgb(78, 204, 163);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}

.uk-button-primary:hover {
    background-color: rgb(3, 236, 170) !important;
    background-position-x: 0% !important;
    background-position-y: 0% !important;
    background-repeat: repeat !important;
    background-attachment: scroll !important;
    background-image: none !important;
    background-size: auto !important;
    background-origin: padding-box !important;
    background-clip: border-box !important;
}

element {

}
.uk-modal-full .uk-modal-dialog, .uk-modal-close-full, .uk-open > .uk-modal-dialog, .uk-modal-footer{

    background: #232931 !important;

}

.uk-modal-footer{
    border-top-color: #393e46;
}

.uk-open > .uk-modal-dialog{
    color: #eee;
}
